.topnav {
    background-color: white;
    overflow: hidden;
    text-align: right;
  }
  ul {list-style-type: none}

  .img source {
    float: left;
    background-color: teal;
    clear: left;
}
 
  .topnav a {
    float: left;
    color: darkslategrey;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }
  
  
  .topnav a:hover {
    background-color: white;
    color: yellowgreen;
  }
  
  
  .topnav a.active {
    background-color: lightgray;
    color: white;
  }

.signup{
    position: Center;
    height: 300px;
    width: 1450px;
    text-align: center;
}


h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 170px;
    color: teal;
    text-align: center;
    margin: 0;
    opacity: 85%;
}
#soundwave {
  image-orientation: center;
  height: 80px;
  width: 100%;
  margin: 0;
}
h2 {
    font-family: 'Alfa Slab One', bold;
    font-size: 50px;
    color: teal;
}
p {
    font-family: 'Gowun Batang', serif;
    font-size: large;
}

article, section{
    background-color: lightgray;
    height: 400px;
    width: 650px;
    opacity: 100%;
    margin: 0;
    padding: 0;
  }
  
  aside {
    float: right;
    height: 400px;
    width: 400px;
    padding: 0px;
    margin: 0;
    font-style: bold;
    background-color: white;
    opacity: 100%;
  }

  aside1 {
    background-color: lightgray;
    height: 400px;
    width: 650px;
  }

  .column {
    float: left;
    width: 47%;
    padding: 20px;
    height: 400px;
}
.row:after {
    clear: both;
    color: orangered;
    font-size: 24;
}
  
  footer { 
    text-align: center;
    clear: both;
    color: yellowgreen;
    font-size: small;
    background-color: lightgrey;
    overflow: hidden;
  }

  .fa {
    padding: 20px;
    font-size: 20px;
    width: 100px;
    text-align: center;
    text-decoration: none;
  }