.topnav {
    background-color: white;
    overflow: hidden;
    text-align: right;
  }
  ul {list-style-type: none}

  .img source {
    float: left;
    background-color: teal;
    clear: left;
}
 
  .topnav a {
    float: left;
    color: darkslategrey;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }
  
  
  .topnav a:hover {
    background-color: #ddd;
    color: yellowgreen;
  }
  
  
  .topnav a.active {
    background-color: teal;
    color: white;
  }

.signup{
    position: Center;
    height: 800px;
    width: 800px;
    text-align: center;
}


h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 200px;
    color: teal;
    text-align: center;
}
h2 {
    font-family: 'Alfa Slab One', bold;
    font-size: 50px;
    color: teal;
}
p {
    font-family: 'Gowun Batang', serif;
    font-size: medium;
}

article, section{
    background-color: lightgray;
    height: 200px;
    width: 200px;
  }
  
  aside {
    float: right;
    height: 200px;
    width: 200px;
    padding: 20px;
    margin: 20px;
    font-style: bold;
    background-color: greenyellow;
  }

  .column {
    float: left;
    width: 47%;
    padding: 20px;
    height: 300px;
}
.row:after {
    clear: both;
    color: orangered;
    font-size: 24;
}
  
  footer { 
    text-align: center;
    clear: both;
    color: darkslategray;
    font-size: small;
    background-color: lightgrey;
    overflow: hidden;
  }
  

